@model Vu_Victoria_HW2.Models.CateringOrder

@{
    ViewData["Title"] = "Bevo's Tacos - Catering Totals";
}

<h1>Catering Totals</h1>
<hr />

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfBurgers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfBurgers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfTacos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfTacos)
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalItems)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalItems)
        </dd>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurgerSubtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurgerSubtotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TacoSubtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TacoSubtotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subtotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreferredCustomer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreferredCustomer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to Home</a>
</div>
